In [1]:
from selenium import webdriver
import time
import pandas as pd

In [3]:
# 구글 지도 불러오기
driver = webdriver.Chrome(r"/Users/gunwook/Desktop/git_folder/데이터사이언스입문/chromedriver")
driver.get('https://www.google.com/search?sxsrf=ACYBGNRRbtVEkk2vDRsFZncu6PMUJ76exw:1574256486269&q=%EC%A0%9C%EC%A3%BC%EB%8F%84+%EC%A0%95%EB%A5%98%EC%9E%A5&npsic=0&rflfq=1&rlha=0&rllag=33377798,126386723,18237&tbm=lcl&ved=2ahUKEwiM0Ji18vjlAhUi-2EKHV5_AT4QjGp6BAgLEBQ&tbs=lrf:!3sIAE,lf:1,lf_ui:3&rldoc=1#rldoc=1&rlfi=hd:;si:;mv:[[33.535328299999996,126.76294639999999],[33.233164699999996,126.2361753]]')

In [8]:
driver.find_element_by_xpath('//*[@id="mKlEF"]').click()

In [14]:
list0=[]
list1=[]
boxItems=driver.find_elements_by_css_selector('div.dbg0pd')
for j in range(0,len(boxItems)):
    elem=boxItems[j].find_element_by_css_selector('div')
    a=elem.text
    list0.append(a)
    elem.click()
    time.sleep(1.5)
    b=driver.find_element_by_css_selector('span.LrzXr').text
    list1.append(b)
    df=pd.DataFrame(list0)
    df['동']=list1
    # 페이지 바꿔가면서 진행함. 
    df.to_csv('제주도12.csv')

In [18]:
df1=pd.read_csv('test 좌표.csv')

In [21]:
df1.rename(columns={'0':'정류소'},inplace=True)

In [26]:
elem=driver.find_element_by_css_selector('#lst-ib')

In [27]:
elem.clear()

In [30]:
df1

    Unnamed: 0                                    정류소
0            0                      33.53719,126.6667
1            1            33.463770000000004,126.5208
2            2           33.259409999999995,126.47365
3            3                      33.5269,126.78918
4            4                     33.29693,126.22997
5            5                      33.27573,126.6664
6            6                     33.29013,126.60706
7            7                     33.39828,126.80358
8            8                      33.4425,126.38427
9            9           33.508590000000005,126.67321
10          10                     33.41698,126.84021
11          11                      33.2944,126.63187
12          12                     33.24723,126.41686
13          13           33.422340000000005,126.54963
14          14                     33.50508,126.77245
15          15                      33.31624,126.2495
16          16                     33.29858,126.68123
17          17                       33.5007,126.6886
18          18                     33.34138,126.22879
19          19                     33.50068,126.81583
20          20                     33.37493,126.84528
21          21                     33.45141,126.38508
22          22           33.526990000000005,126.78933
23          23           33.312470000000005,126.72146
24          24            33.455870000000004,126.3483
25          25           33.516290000000005,126.95547
26          26                     33.51802,126.95316
27          27                     33.50918,126.94809
28          28  33.302409999999995,126.25858999999998
29          29                     33.45217,126.36229
30          30                     33.25648,126.43285
31          31                     33.94586,126.32849
32          32                     33.49991,126.61992
33          33                     33.30205,126.18919
34          34                     33.22094,126.26695
35          35                     33.49285,126.65075
36          36                     33.28273,126.60763

In [31]:
driver.get('https://www.google.com/maps/@37.5605671,126.9433486,14z?hl=ko')

In [32]:
# 좌표 기준 최대한 가까운 동 뽑기
list0=[]
list2=[]
for i in df1['정류소'].unique():
    try:
        elem=driver.find_element_by_css_selector('#searchboxinput')
        elem.clear()
        elem.send_keys(i)
        driver.find_element_by_xpath('//*[@id="searchbox-searchbutton"]').click()
        time.sleep(3)
        list0.append(i)
        b=driver.find_element_by_css_selector('#pane > div > div.widget-pane-content.scrollable-y > div > div > div:nth-child(9) > div > div.section-info-line > span.section-info-text > span.widget-pane-link').text
        list2.append(b)
        time.sleep(3)
    except: 
        list2.append('없음')

In [37]:
df5=pd.DataFrame(list0)

In [38]:
df5

                             0
0            33.53719,126.6667
1  33.463770000000004,126.5208

In [16]:
df5['동']=list2

In [17]:
df5.to_csv('동1.csv')

In [188]:
boxItems=driver.find_elements_by_css_selector('div.dbg0pd')

In [190]:
boxItems[0].find_element_by_css_selector('div').text

'제주썬호텔&카지노'

In [22]:
#다음 페이지 버튼 클릭 1페이지
driver.find_element_by_xpath('/html/body/div[3]/div/div/div[6]/div[4]/button[2]').click()

In [24]:
#다음 페이지 버튼 클릭 2페이지 이후
driver.find_element_by_xpath('/html/body/div[3]/div/div/div[6]/div[4]/button[3]').click()

In [38]:
driver.close()

In [171]:
df1=pd.read_csv('제주도1.csv')
df2=pd.read_csv('제주도2.csv')
df3=pd.read_csv('제주도3.csv')
df4=pd.read_csv('제주도4.csv')
df5=pd.read_csv('제주도5.csv')
df6=pd.read_csv('제주도6.csv')
df7=pd.read_csv('제주도7.csv')
df8=pd.read_csv('제주도8.csv')
df9=pd.read_csv('제주도9.csv')
df10=pd.read_csv('제주도10.csv')
df11=pd.read_csv('제주도11.csv')

In [172]:
df_con=pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11])

In [175]:
df_con.drop(columns=['Unnamed: 0'],inplace=True)

In [178]:
df_con=df_con.reset_index()

In [180]:
del df_con['index']

In [181]:
df_con.to_csv('제주도.csv')